# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build
run-name: Build (rv=${{ inputs.release_version || '---' }})

on:
  push:
  workflow_dispatch:
    inputs:
      upload_release_file:
        type: boolean
        default: false
        required: true
        description: Upload generated release file as an artifact.
      release_version:
        type: string
        default: ""
        required: true
        description: Use this string as version in the application.

jobs:
  build:
    name: Test & Build

    # Do it on github's own repo, this action is very simple and takes no time
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Info
        env:
          RV: "${{ github.event.inputs.release_version }}"
        run: |
          echo "Release version: $RV"

      - name: Upload release artifact
        if: "${{ github.event.inputs.upload_release_file == 'true' }}"
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: release
          path: release-*
