# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build
run-name: Build (rv=${{ inputs.release_version || '---' }})

on:
  push:
  workflow_dispatch:
    inputs:
      upload_release_file:
        type: boolean
        default: false
        required: true
        description: Upload generated release file as an artifact.
      release_version:
        type: string
        default: ""
        required: true
        description: Use this string as version in the application.

jobs:
  build:
    name: Test & Build

    # Do it on github's own repo, this action is very simple and takes no time
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Info
        env:
          RV: "${{ github.event.inputs.release_version }}"
        run: |
          echo "Release version: $RV"

      - name: Upload release artifact
        if: "${{ github.event.inputs.upload_release_file == 'true' }}"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: release
          path: release-*
